Repository xcompact3d/x3d2, pull requests merged in 2024-02, with the labels that each got.

#27 Implement transeq in omp backend
  src/omp/backend.f90
  src/omp/exec_dist.f90
  src/omp/kernels_dist.f90
  src/solver.f90
  tests/CMakeLists.txt
  tests/omp/test_omp_dist_transeq.f90
  tests/omp/test_omp_transeq.f90
  tests/omp/test_omp_tridiag.f90
Labels: core, omp

#46 Describe the `dirps_t` class
  .gitignore
  src/tdsops.f90
Labels: documentation

#48 Remove unused variables from OMP build
  .github/workflows/build_and_test.yml
  src/CMakeLists.txt
  src/allocator.f90
  src/common.f90
  src/omp/backend.f90
  src/omp/kernels_dist.f90
  src/solver.f90
  src/tdsops.f90
  src/xcompact.f90
Labels: maintainability

#49 Run tests in parallel on CI
  tests/CMakeLists.txt
Labels: test
